.FilmTable {
    float: left;
    height: 470px;
    width: 100%;
    padding: 0 4px;
    overflow-wrap: break-word;
    overflow: auto;
  }
  body {
      color: white;
  }
.FilmTable {
    margin: auto;
    width: 100%;
    border: 3px solid black;
    padding: 5px;
  }